body {

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

hr{

    width: 500px; 

}

#errors {

    color: coral;

}

#Board {

    width: 450px;
    height: 450px;

    margin: 0 auto; 
    display : flex; 
    flex-wrap : wrap; 

}
.tile{
    width: 48px;
    height: 48px; 
    border: 1px solid rgb(192, 203, 218);

    /* text */ 
    font-size: 20px; 
    font-weight: bold;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
#Digits{
    width : 450px; 
    height : 50px; 

    margin: 0 auto; 
    display : flex; 
    flex-wrap : wrap;
}

.number{
    width: 44px;
    height: 44px; 
    border: 1px solid rgb(208, 197, 197);
    margin : 2px; 
    /* tex */ 
    font-size: 20px; 
    font-weight: bold;
    display : flex; 
    justify-content: center; 
    align-items: center;
}

.number-selected{
    background-color: lightcyan;
}

.tile-start{
    background-color: rgb(234, 230, 230);
}

.horizontal-line{
    border-bottom : 1px solid black;
}

.vertical-line{
    border-right : 1px solid black;
}